



<section class=" " style="background-image: url(assets/image/dark.jpg)" >

  <div class="pt-md-4 ">
    <img src="assets/image/mv.jpg" alt="Maxine V" class="rounded-circle mx-auto d-block shadow-lg animated bounceInDown" style="position:relative;top:70px" />
    <hr class=""/>
    <div class="trans rounded mx-auto text-justify shadow-lg text-white " style="width: 60%; padding: 40px 1.5em 1em;">
      <hr />
     <p class="text-center"> Les gens pensent que le temps est une simple progression de cause à effet. Mais, en vérité, d'un point de vue non-linéaire, d'un point de vue non subjectif, c'est plutôt une sorte d'énorme boule où le temps s'enchevêtre comme un méli-mélo très complexe</p>
      <p class="text-center"> <small> Maxime Verriest | email : onsof@hotmail.fr | 06.11.84.96.34</small> </p>
    </div>
  </div>



  <div class="">
    <img src="assets/image/mv.jpg" alt="Maxine V" class="rounded-circle mx-auto d-block shadow-lg animated bounceInDown" style="position:relative;top:70px" />
    <hr />
    <div class="rounded mx-auto text-justify shadow-lg trans1 text-white " style="width: 60%; padding: 40px 1.5em 1em;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto beatae corporis dignissimos dolor harum nam, non odit reiciendis velit!
    </div>
  </div>


  <div class="pt-md-5"></div>
</section>


