
<router-outlet></router-outlet>



<!--<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4"></h5>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/workspace" routerLinkActive="active">Workspace</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/choix" routerLinkActive="active">CHOIX</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/nous" routerLinkActive="active">Nous</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inscription" routerLinkActive="active">Inscription</a>
      </li>
    </ul>





  </nav>
</div>

-->





