




<section class=" " style="background-image: url(assets/image/dark.jpg)" >


  <ul id=menu class="col ">
    <li><button class="btn btn-outline-dark text-white text-center">Information</button>
    <hr />
    <li><button class="btn btn-outline-dark text-white text-center">Competences</button>
    <hr />
    <li><button class="btn btn-outline-dark text-white text-center">Formation</button>
    <li><button class="btn btn-outline-dark text-white text-center">Etudes</button>
    <hr />
    <li><button class="btn btn-outline-dark text-white text-center">Experience</button>
    <li><button class="btn btn-outline-dark text-white text-center">Centre d'interet</button>


  </ul>


  <div class="bg-white container " id="cv">

    <app-cv></app-cv>

  </div>

</section>
