#menu {
  position: fixed;
  right: 87%;
  top: 25%;
  width: 18em;
  margin-top: -3.2em;
  height: 100%;


}


#photo {
  position: fixed;
  right: 10px;
  top: 15%;
  width: 200px;
  margin-top: 0em;
  height: 250px;
}

#cv
{
margin-top: 8%;
height: 100%;
  width: 100%;
}


.right_align
{
  text-align: right;
  margin : 2px;
}

.minH
{
  min-width: 200px;
}
