<header>
  <h2 class="text-capitalize text-center">PARAMETRE</h2>
</header>

<nav>
  <ul class="nav justify-content-center">
    <li class="nav-link">
      <a class="nav-link" routerLink="/para/harry">harry</a>
    </li>
    <li class="nav-link">
      <a class="nav-link" [routerLink]="['/para', 'hermione']">hermione</a>
    </li>
  </ul>
</nav>
<p *ngIf="!name; else information">
  Pour connaitre la relation qui existe entre harry et hermione cliquer sur leurs noms
</p>

<ng-template #information>

  <button class="btn btn-outline-danger" (click)="goback()">retour</button>

  <p class="lead my-3"> Information sur {{ name }} </p>
  <div [ngSwitch]="name">

      <div *ngSwitchCase=" 'Hermione' ">

        <img src="h2.jpg">
        <iframe src="https://giphy.com/embed/7M3DMbkaOm0uc" width="480" height="199" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/7M3DMbkaOm0uc"></a></p>
      </div>


    <div *ngSwitchCase=" 'Harry' ">
      <img src="h1.png">
      <iframe src="https://giphy.com/embed/7p3z8ZAOICw6Y" width="480" height="392" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/harry-potter-hermione-7p3z8ZAOICw6Y"></a></p>
    </div>

  </div>
</ng-template>
