#options:hover {
  color:red;
  text-decoration:none;
  border: red;
  border-style: solid;

}

.transclass{
  border: 0px solid white;
  transition:border 0.2s ease 0s;
}

.transclass:hover{
  border:5px solid red;
}
