
<section class="p-3" >
  <!--BUTTON DOWNLOAD-->
  <div class="align-center ">
      <button type="button" (click)="downloadPDF()">PDF</button>
      </div>
  <!--CONTENEUR PDF-->
  <div id="content" #content>

  


  <div *ngIf="cv.user">
    <div>
      <span class="lead"> {{cv.user.prenom}} {{cv.user.nom}} </span>
    </div>
    <div>Née le : {{cv.user.date_naissance | date:'dd/MM/yyyy'}}</div>
    <div>Adresse : {{cv.user.adresse}}</div>
    <div>Téléphone : {{cv.user.telephone}}</div>
    <div>Email : {{cv.user.email}}</div>
  </div>

  <div class="lead text-center mt-5" *ngIf="cv.nom">
    {{ cv.nom }}
  </div>

  <div class="mt-4 " *ngIf="cv.competences">
    <p class="h4">Compétences</p>
    <hr />

    <table class="table ">
      <tbody>
        <tr *ngFor="let competence of cv.competences" >
          <td>{{ competence.nom }}</td>
          <td>{{ concat(competence.tags) }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-4" *ngIf="cv.experiences">
    <p class="h4">Expériences</p>
    <hr />


    <p *ngFor="let experience of cv.experiences">
      <b *ngIf="experience.end_date" style="font-size: 0.9em">
        {{ experience.start_date | date:'MMMM yyyy' | ucfirst }} à
        {{ experience.end_date | date:'MMMM yyyy' | ucfirst }} :
      </b>
      <b *ngIf="!experience.end_date" style="font-size: 0.9em">Depuis {{ experience.start_date | date:'MMMM yyyy' | ucfirst }}:</b>
      {{ experience.nom }} ( {{experience.entreprise}} )
      <br />
      {{ experience.description }}
    </p>

  </div>

  <div class="mt-4" *ngIf="cv.formations">
    <p class="h4">Formations</p>
    <hr />

    <div *ngFor="let formation of cv.formations">
      <div>
        <small>{{ formation.start_date | date:'yyyy'}} / {{ formation.end_date | date:'yyyy'}}</small> -
        {{ formation.nom }} - {{ formation.description }} {{ formation.ville }}
      </div>
    </div>
  </div>

  <div class="mt-4" *ngIf="cv.interets">
    <p class="h4">Centre d'interet</p>
    <hr />

    <ul class="list-unstyled">
      <li *ngFor="let interet of cv.interets"> {{ interet.nom }} </li>
    </ul>
  </div>
</div>
</section>
