




<!-- Modal -->
<div class="modal fade" id="inscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false" >
  <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
    <div class="modal-content bg-transparent test" style="background-image: url(assets/image/modal1.png)">

      <!--  CONTENEUR -->

      <div class="text-white w-50 mx-auto d-block text-center bform rounded "   style="position:relative;top: 200px; background-image: url(assets/image/fform.jpg)">



        <form [formGroup]="form" (submit)="onSubmitData()" >

          <div class="form-group row">

            <div class="col-12  ">

              <div class="rounded ">
                <label class="col-form-label font fform ">Email:</label>
                <input type="text" class="form-control" placeholder="Email"
                       [ngClass]="{'is-invalid': email.invalid && email.touched , 'is-valid': email.valid}"
                       formControlName="email"/>
                <p class="invalid-feedback" *ngIf="controlEmail()">{{controlEmail()}}</p>
              </div>
            </div>

          </div>






          <div class="form-group row">

            <div class="col-12  ">
              <div class="rounded ">
                <label class="col-form-label font fform">MDP :</label>
                <input type="password" class="form-control" placeholder="Password"
                       [ngClass]="{'is-invalid': password.invalid && password.touched , 'is-valid': password.valid}"
                       formControlName="password"/>
                <p class="invalid-feedback" *ngIf="controlmdp()">{{controlmdp()}}</p>
              </div>
            </div>

          </div>


          <div class="form-group row">

            <div class="col-12 ">
              <div class="rounded ">
                <label class=" col-form-label font fform">Confirmation MDP :</label>
                <input type="password" class="form-control" placeholder="Confirmation"
                       [ngClass]="{'is-invalid': confirm.invalid && confirm.touched , 'is-valid': confirm.valid}"
                       formControlName="confirm"/>
                <p class="invalid-feedback" *ngIf="controlcmdp()">{{controlcmdp()}}</p>
              </div>
            </div>

          </div>

          <div class="form-group row ">

            <div class="col-8">
              <input type="submit" class="btn btn-outline-primary bg-noir rounded" value="S'inscrire" [disabled]="form.invalid" />
            </div>

            <a ><img class="croi" src="assets/image/croix1.png"  data-dismiss="modal"></a>

          </div>

        </form>


      </div>

      <!-- CONTENEUR -->

    </div>
  </div>
</div>

