<header>
  <h2>PIPES</h2>
</header>

<p>Majuscule: {{'je suis une chaine en minuscule' | uppercase }}  </p>
<p>Majuscule: {{'JE SUIS UNE CHAINE EN MAJUSCULE !' | lowercase}}  </p>
<p>Titre: {{'je suis un titre de page' | titlecase }}</p>

<p>PI : {{'3.141592' | number:'1.1-5'}}</p>
<p>1/3 : {{1/3 | number:'1.3-5'}}</p>
<p>1/16 : {{1/16 | number:'1.3-5'}}</p>
<p>1.20 : {{ 1.2 | number:'1.2-12'}}</p>

<p>Pourcentage {{ 1/3 | percent: '2.2'}}</p>

<p>Prix (code): {{ 9999.99 | currency: 'CAD':'code':'1.2'}}</p>
<p>Prix (symbol): {{ 9999.99 | currency: 'CAD':'symbol':'1.2'}}</p>
<p>Prix (symbol-narrow): {{ 9999.99 | currency: 'CAD':'symbol-narrow':'1.2'}}</p>

<p>Date : {{ date | date:'dd/MM/yyyy/HH/mm'}}</p>
<p>Double pipe : {{ date | date:'full' | uppercase}}</p>

<p>Object : {{ object | json}}</p>

<!-- EXERCICE -->
<p>page : {{prv/5}}/{{liste.length/5}} </p>


<div class="btn-group">

  <button class="btn btn-outline-primary" (click)="prev()">&lt;&lt; Prev </button>
  <button class="btn btn-outline-primary" (click)="next()"> Next &gt;  &gt; </button>

</div>

<ul>
  <li *ngFor="let name of liste | slice: this.prv:this.nxt"> {{ name }} </li>
</ul>









<p class="lead text-primary mt-3"> safe Operator</p>
<p> User: {{user?.name }}</p>
<p> User 2 : {{user2?.adresse?.zip }}</p>
