<header>

  <h2>PRESENTATION</h2>
</header>

<article class="mb-3">
  <h3>AFFICHAGE</h3>
  <div class="row">
    <div class="col">
      <p>1+2 ={{1+2 }}</p>
    </div>

    <div class="col">
      <p> Oh " {{ name }} " ta baguette est grande</p>
    </div>
    <div class="col">
      <p>  {{ product.name }} at {{product.price}} &euro;</p>
    </div>

    <div class="col">
     <img style="width: 70%" [src]="imgSrc" alt="hermione"/>
    </div>

    <div class="col">
      <p [innerHtml] ='html'></p>
    </div>

    <div class="col">
      <p> Uppercase: {{Uppercase(product.name , 5)}}</p>
    </div>

  </div>


</article>

<article class="mb-3">
  <h3>EVENT</h3>
  <div class="row">
    <div class="col">
      <button class="btn btn-outline-primary" (click)="clicked()">CLIQUEZ ICI</button>
    </div>

    <div class="col">
     <a href="#" class="btn btn-outline-primary" (click)="confirmation($event)">Confirmé</a>
    </div>

  </div>
</article>



<article class="mb-3">
  <h3>Twho way data binding</h3>

  <p class="small">ngModel = banana in box [()] </p>

  <div class="input-group">
    <input type="text" placeholder="envoyer une lettre par hiboux" class="form-control" [(ngModel)]="message" />
    <div class="input-group-append">
      <button class="btn-outline-primary" (click)="showmessage()">voir la lettre </button>

    </div>
    <p class="form-control-plaintext">{{message}}</p>
  </div>
</article>


<article class="mb-3">
  <h3>Variable de template</h3>
<p class="small">#nomdevariable = document.querySelector() </p>
  <div class="input-group">
    <input type="text" placeholder="envoyer une lettre par hiboux" #input class="form-control" (keyup.enter)="0" />

    <p class="form-control-plaintext">{{input.value}}</p>
  </div>
</article>

<article class="mb-3">

  <h3>ngFor (ngForof)</h3>
  <ul class="list-unstyled">
    <li *ngFor="let name of liste; index as i ">{{i}}:{{name}} : Dead ..</li>

  </ul>
</article>



