<header>
  <h2>Plan de formation</h2>
</header>

<ul>
  <li>presentation
    <ul>
      <li>Syntaxe angular (MVVM ou MWM)</li>
      <li>One Way data binding ( component => Template ) </li>
      <li>Two way data binding</li>
      <li>variable templates</li>
      <li>les ngMODELS</li>
    </ul>
  </li>

  <li>NAVIGATION (PARTIE 1)</li>
  <li>Template (vue)
  <ul>
    <li>pipes</li>
    <li>local</li>
    <li>directive</li>

  </ul>
  </li>
  <li>pipes personnalisés</li>
  <li>directives personnalisees</li>
  <li>Formulaire
  <ul>
    <li>template driven forms</li>
    <li>reactive form</li>
    <li>validateur</li>
    <li>validateur personnalisées</li>
  </ul>
  </li>
  <li>Service</li>
  <li>promise et observer</li>
  <li>navigation (partie 2)
  <ul>
    <li>parametre d'URL</li>
    <li>Guard</li>
  </ul>
  </li>
  <li>Http(xhr)</li>
  <li>test unitaire & endtoend</li>
  <li>PUBLIER LE PROJET </li>

</ul>
